*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --transparent-primary-color: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.349) 80%);
    --seconday-color: white;
    --btn-shadow: 0 0 10px rgba(86, 86, 86, 0.681);
    --shadow: 0 0 10px rgba(86, 86, 86, 0.104);
    --bg-tech: #D7DBE4;

}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    position: absolute;
}

hr {
    background-color: rgba(0, 0, 0, 0.863);
    height: 2.5px;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url(/image/white\ bg.jpg);
    background-size: cover;
    color: var(--primary-color);
    text-align: center;
}

/* #Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 20px;
    width: 96%;
    height: 70px;
    border-radius: 15px;
    position: sticky;
    top: 8px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(86, 86, 86, 0.34);
}

.nav-links {
    width: 65%;
    max-width: 575px;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item{
    font-size: large;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-li {
    text-decoration: none;
    transition: all 0.2s ease;
}

/* #Navbar animation */
.nav-li:hover {
    transform: scale(1.5);
}

.nav-li:active {
    transform: scale(1);
}


.download-CV-btn {
    font-size: 1rem;
    padding: 14px 20px 14px 20px;
    background-color: rgb(23, 23, 23);
    border: none;
    color: var(--seconday-color);
    border-radius: 8px;
    box-shadow: var(--btn-shadow);
    cursor: pointer;
    transition: all 0.2s ease;
}

/* #Hero content */

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    padding-left: 50px;
    margin-top: 50px;
}

.hero-content h1 {
    font-size: 3.1rem;
    text-align: left;
    width: 700px;
    max-width: 500px;
}

.hero-content p {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 20px;
}

.text-content p{
    display: flex;
    width: 550px;
    margin: 15px;
    margin-left: 0;
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 35px;
}

/* #Hero Buttons */

.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn-secondary{
    font-size: 1rem;
    padding: 15px 35px 15px 35px;
    background-color: rgb(23, 23, 23);
    border: none;
    color: var(--seconday-color);
    border-radius: 8px;
    box-shadow: var(--btn-shadow);
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-primary {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.view-work-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: transparent;
    padding: 15px 20px 15px 35px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    box-shadow: var(--btn-shadow);
    cursor: pointer;
    transition: all 0.2s ease;
}

/* #hero button animations */

.btn-secondary:active, .view-work-btn:active, .download-CV-btn:active  {
    transform: translateX(5px) translateY(2px) scale(0.95);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* #Extra Info */

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 80px;
    border-radius: 12px;
    padding: 20px;
    margin-top: 15px;
    color: var(--primary-color);
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow);
}

.num-info {
    font-size: 2.4rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.extra-num-info{
    transition: all 0.4s ease;
}

.extra-num-info:hover {
    transform: scale(1.3);
}

.text-info {
    font-size: 0.9rem;
    color: var(--primary-color);
}

/* #Experience Section */

#experience-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 55px;
    width: 100%;
    height: 100vh;
    background-image: url(/image/white\ bg2.jpg);
    background-size: cover;
    background-position-y: 705px;
}

#experience-section h1{
    font-size: 1rem;
    margin-bottom: 25px;
    font-weight: 500;
    color: #353535;
}

.technology-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.techstack-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 175px;
    width: 100%;
    padding: 95px;
    background-color: transparent;
    backdrop-filter: blur(12px);
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid rgba(41, 41, 41, 0.76);
    box-shadow: 0 0 8px rgba(86, 86, 86, 0.308);
    transition: all 0.3s;
    z-index: 20;
}

.tech:hover {
    transform: translateX(-10px) translateY(-10px);
    box-shadow: 10px 10px 8px rgba(128, 128, 128, 0.399);
    color: black;
    background-color: rgb(255, 255, 255);
    border-color: white;
}

/* #Project Section */

#projects-section {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    text-align: center;
    padding: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    /* background-color: #e1e4ea; */
    background-image: url(/image/white\ bg.jpg);
}

.project-section-title {
    display: flex;
    flex-direction: column;
    margin: 15px 4px 25px 4px;
}

#projects-section h2{
    font-size: 2rem;
    text-align: center;
}

#projects-section p{
    font-size: 1rem;
    margin-top: 5px;
    /* margin-top: 1rem;
    margin-bottom: 1.8rem; */
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;

}

.project-item {
    display: flex;
    max-width: 360px;
    flex-direction: column;
    background-color: #f1f3f9;
    /* background-color: rgba(255, 255, 255, 0.716); */
    /* border: 0.5px solid black; */
    backdrop-filter: blur(12px);
    margin: 10px;
    height: 35em;
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}


.tech-stack-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
}

.tech-used {
    background-color: var(--primary-color);
    padding: 4px 12px 4px 12px;
    border-radius: 20px;
    color: var(--seconday-color);
    /* border: 1px solid black; */
    margin: 4px;
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.project-description {
    display: flex;
    flex-direction: column; 
    gap: 7px;
    justify-content: space-between;
}

/* #Service Section */

#services-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 25px;
    box-sizing: border-box;
    align-items: center;
}

.service-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 75px;
}

.service-section-title h2{
    margin: 10px;
}

.services-card-container {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 100px;
    column-gap: 100px;
}

.service-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}